AWS_REGION="eu-west-2"
ROLE_ARN="arn:aws:iam::767397886959:role/nhs-REPLACE-notifyai-bedrock-automatic-evaluation-role"
INPUT_PROMPT_S3_URI="s3://nhs-REPLACE-notifyai-input-prompts/prompts.jsonl"
RESULTS_S3_URI="s3://nhs-REPLACE-notifyai-results/results/"
EVALUATOR_MODEL_IDENTIFIER="amazon.nova-pro-v1:0"
INFERENCE_MODEL_IDENTIFIER="amazon.nova-pro-v1:0"
