[run]
source =
    src/backend/app
    src/backend/bedrock-prompt-messager
omit =
    */tests/*
    */__init__.py
    */__pycache__/*
    */core/constants.py
    */core/config.py

[paths]
source =
    .
    /usr/src
