INPUT_BUCKET = nhs-REPLACE-notifyai-input-docs
DATA_PATH = infrastructure/terraform/components/notifyai/resources/prompt-data/prompts.jsonl
MODEL = amazon.nova-lite-v1:0
PROMPT = src/backend/bedrock-prompt-messager/system_prompt.txt
